<body class="d-flex flex-column">
  <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
      <div class="row">
        <div class="col-4">
          <span>Anton Latanskiy</span>
        </div>

        <div class="col-8 left">
          <a
            href="https://github.com/kalonium16"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fa-brands fa-github fa-xl icons"></i
          ></a>
          <a
            href="https://t.me/AntonLatanskyi"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fa-brands fa-telegram fa-xl icons"></i
          ></a>
          <a
            href="https://www.linkedin.com/in/anton-latanskyi-182a361b0/"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fa-brands fa-linkedin fa-xl icons"></i
          ></a>
        </div>
      </div>
    </div>
  </footer>
</body>
<!-- <div class="container">
  <div class="row">
    <div class="col-2">
      <span>Anton Latanskiy</span>
    </div>
    <div class="col-8">
      <a href="tel:380935080751"
        ><i class="fa-solid fa-mobile fa-xl"> </i>+38(093)5080751</a
      >
      <a href="mailto: kalon160895@gmail.com"
        ><i class="fa-solid fa-envelope fa-xl"></i>kalon160895@gmail.com</a
      >
    </div>
    <div class="col-2 left">
      <a href="https://github.com/kalonium16"
        ><i class="fa-brands fa-github fa-xl icons"></i
      ></a>
      <a href="https://t.me/AntonLatanskyi"
        ><i class="fa-brands fa-telegram fa-xl icons"></i
      ></a>
      <a href="https://www.linkedin.com/in/anton-latanskyi-182a361b0/"
        ><i class="fa-brands fa-linkedin fa-xl icons"></i
      ></a>
    </div>
  </div>
</div> -->
