.left {
  margin-left: auto;
  margin-right: 0;
  li {
    margin-right: 15px;
  }
}

a {
  margin-bottom: 10px;

  .icons {
    color: #e9d5ca;
  }
  i {
    margin-right: 10px;
  }
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

span {
  margin-left: 10px;
  margin-right: 10px;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

/* Other Classes for Page Styling */

body {
  background: #007bff;
  background: linear-gradient(to right, #0062e6, #33aeff);
}
