.container {
  margin-top: 25vh;
}

.h1 {
  font-size: 125%;
}

.contact-me {
  margin-top: 10px;
  background-color: #827397;
  width: 10rem;
  color: #e9d5ca;
}

img {
  width: 50%;
}

.left {
  margin-left: auto;
  margin-right: 0;
  li {
    margin-right: 15px;
  }
}
